{%extends 'users/base.html'%}
{%load static%}
{%block content%}
    <div class="wrapper">
        <div class="about">
            Welcome to Hitmeapp, your trusted online marketplace! We are dedicated to providing a convenient and reliable platform for buying and selling a wide range of products across various categories. Whether you're looking for electronics, furniture and others, Hitmeapp is your go-to destination
        </div>
        <a href="#guidelines" style="color: blue;font-weight: bold;">#Jump to guidelines</a>
        <div class="commitment">
            <div class="heading">Our Commitment</div>
            <div class="grid">
                <div class="item">
                    <div class="icon"><i class="fa-4x fa-solid fa-lock"></i></div>
                    <div class="text">
                        <b>Safety and Security:</b> We prioritize the safety and security of our users. We implement robust measures to protect against fraud, scams, and unauthorized activities. We also provide guidelines and resources to educate users about safe online transactions.
                    </div>
                </div>
                <div class="item">
                    <div class="icon"><i class="fa-4x fa-solid fa-square-check"></i></div>
                    <div class="text">
                        <b>Quality Assurance:</b> We strive to ensure that the products listed on our platform meet our quality standards. While we encourage users to thoroughly review products before purchasing, we actively monitor and take action against fraudulent or misrepresented listings.
                    </div>
                </div>
                <div class="item">
                    <div class="icon"><i class="fa-4x fa-solid fa-users-gear"></i></div>
                    <div class="text">
                       <b> User Support:</b> Our dedicated support team is available to assist users with any inquiries, concerns, or issues they may have. We aim to provide timely and helpful support to ensure a positive experience on our platform.
                    </div>
                </div>
            </div>
        </div>
        

    </div>
    <div id="guidelines" class="guide">
        <div class="wrapper">   
        <ul>
            <p>Guidelines</p>
            <li> Carefully review and validate listings before making any transactions. Look for clear descriptions, high-quality images, and accurate pricing.</li>
            <li>When meeting with sellers or buyers, choose public, well-lit locations with other people around. Consider meeting during daylight hours and, if possible, bring a friend or family member along.</li>
            <li>Be vigilant for potential scams or fraudulent activities. Exercise caution when dealing with requests for upfront payments, wire transfers, or requests for personal or financial information.</li>
            <li>If you come across any suspicious listings or encounters on Hitmeapp, please report them immediately. Our dedicated team will investigate the matter and take appropriate action to maintain the security and integrity of our platform.</li>
            <li>Safeguard your personal information and exercise caution when sharing it online.Safeguard your personal information and exercise caution when sharing it online.</li>
        </ul>
        </div>
        
    </div>
{%endblock%}